body {
    background: #BBF0D7;
}

.wrapper {
    margin-top: 2%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tool-logo {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.form-horizontal .control-label{
   text-align:left !important;
}

.nav-tabs .active {
  background: #BBF0D7;
}

form {
  font-family: 'Candal', sans-serif;
}

.form-group {
  margin-bottom: 30px;
}

.form-control:focus {
  border-color: #637F4E;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(99, 127, 78, 0.6);
}


